<html>
<head><title>{% block title %}{% endblock %}</title></head>
<body>
  <h1>Index</h1>
  <ul>
    <li><a href="/todo">View todo list</a></li>
    <li><a href="/todo/new_todo">Add a new todo</a></li>
  </ul>
  {% block content %}{% endblock %}
</body>
</html>
