{% extends "base.html" %}
{% block title %}Todo Detail {{ model.ident }}{% endblock %}
{% block content %}
<h1>Detail For Todo {{ model.ident }}</h1>
<form action="{{ model.ident }}" method="POST">
  <input type="text" name="content" value="{{ model.content }}"><br>
  <input type="checkbox" name="completed"
    {% if model.complete %}checked{% endif %}>Completed<br>
  <input type="submit" value="Submit">
</form>
{% endblock %}
