{% extends "base.html" %}
{% block title %}{{ model.title }}{% endblock %}
{% block content %}
<h1>My Todo List</h1>
<ul>
  {% for ident, todo in model.todos %}
  {% if not todo.complete %}
  <li>
    <a href="/todo/todo_detail/{{ ident }}">{{ todo.content }}</a>
  </li>
  {% endif %}
  {% endfor %}
</ul>
{% endblock %}
