{% extends "base.html" %}
{% block title %}{{ model.title }}{% endblock %}
{% block content %}
<h1>{{ model.title }}</h1>
<form action="/todo/new_todo" method="POST">
Content: <input type="text" name="content">
<input type="submit" name="Submit">
</form>
{% endblock %}
